<nav id="mobile-nav">
  <div style="position: relative;top:55px;">
  <% for (var i in theme.menu){ %>
    <a href="<%- url_for(theme.menu[i]) %>" class="mobile-nav-link"><%= i %></a>
  <% } %>
  </div>
</nav>
